<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}
    <div id="restaurant-list">
        {% for restaurant in restaurants %}
            <section>
                <h2> {{restaurant.get('name')}} </h2>
                <img src="{{restaurant.get('image_url')}}" alt="Restaurant Picture">
                <p>{{restaurant.get('display_address')}}</p>
                <p>Price: <b>{{ restaurant.get('price')}}</b></p>
                <p>Rating:<b>{{restaurant.get('rating')}}</b></p>
                <p>Reviews: <b>{{restaurant.get('review_count')}}</b></p>
            </section>
        
        {% endfor %}

    </div> 
    
</body>
</html>

